<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <a class="header__logo" href="/"><span>Nice</span><span>Games</span></a>
            <nav class="header__navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/create">Add game</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>