<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/404.css">
</head>
<body>
    <%- include('components/header') %>
    <main>
        <div class="wrapper">
            <h1 class="title">404</h1>
            <p class="message"><%= error.message %></p>
            <a class="link" href="/">Back to home</a>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>