<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nice Games | All Games</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/gamelist.css">
</head>
<body>
    <%- include('components/header') %>
    <%- include('components/search') %>
    <main>
        <div class="wrapper">
            <h1>Game list</h1>
            <ul class="games">
                <% games.forEach((game) => { %>
                    <li><%- include('components/card', { game: game }) %></li>
                <% }) %>
            </ul>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>