<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nice Games | Add genre</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/genre.css">
    <script src="/scripts/genre.js" defer></script>
</head>
<body>
    <%- include('components/header') %>
    <main>
        <div class="wrapper">
            <h1>Add a genre</h1>
            <form action="/genre/create" method="post">
                <div class="input-wrapper">
                    <label for="genre">Genre</label>
                    <input type="text" name="genre" id="genre" required maxlength="20">
                    <p class="error"><%= locals.error %></p>
                </div>
                <button class="button" type="submit">Submit</button>
                <button class="button js-show-modal-btn" type="button">Show genres</button>
            </form>
        </div>
        <dialog class="modal js-modal">
            <h2>Created genres</h2>
            <ul>
                <% genres.forEach((genre) => { %>
                    <li><%= genre.name %></li>
                <% }) %>
            </ul>
            <form method="dialog">
                <button class="button">Close</button>
            </form>
        </dialog>
    </main>
    <%- include('components/footer') %>
</body>
</html>