:root {
  --neutral-50: hsl(0, 0%, 99%);
  --neutral-100: hsl(0, 0%, 90%);
  --neutral-200: hsl(0, 0%, 81%);
  --neutral-300: hsl(0, 0%, 72%);
  --neutral-400: hsl(0, 0%, 63%);
  --neutral-500: hsl(0, 0%, 54%);
  --neutral-600: hsl(0, 0%, 45%);
  --neutral-700: hsl(0, 0%, 36%);
  --neutral-800: hsl(0, 0%, 27%);
  --neutral-900: hsl(0, 0%, 18%);
  --neutral-950: hsl(0, 0%, 9%);
  --neutral-1000: hsl(0, 0%, 0%);
  --orange-50: hsl(25, 100%, 99%);
  --orange-100: hsl(25, 100%, 90%);
  --orange-200: hsl(25, 100%, 81%);
  --orange-300: hsl(25, 100%, 72%);
  --orange-400: hsl(25, 100%, 63%);
  --orange-500: hsl(25, 100%, 54%);
  --orange-600: hsl(25, 100%, 45%);
  --orange-700: hsl(25, 100%, 36%);
  --orange-800: hsl(25, 100%, 27%);
  --orange-900: hsl(25, 100%, 18%);
  --orange-950: hsl(25, 100%, 9%);
  --orange-1000: hsl(25, 100%, 0%);
  --text-xs: clamp(0.75rem, 0.875vw, 1.5rem);
  --text-sm: clamp(0.875rem, 1vw, 1.75rem);
  --text-normal: clamp(1rem, 1.25vw, 2rem);
  --text-lg: clamp(1.125rem, 1.75vw, 2.25rem);
  --text-xl: clamp(1.25rem, 2vw, 2.5rem);
  --text-2xl: clamp(1.5rem, 2.25vw, 3rem);
  --text-3xl: clamp(1.875rem, 2.5vw, 3.5rem);
  --text-4xl: clamp(2.25rem, 3vw, 4.5rem);
  --text-5xl: clamp(3rem, 4vw, 6rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;

  > main {
    flex: 1;
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  width: 80%;
}

.header {
  background-color: var(--orange-400);
  color: var(--neutral-800);
}

.header__content {
  align-items: center;
  display: flex;
}

.header__logo {
  font-size: var(--text-xl);
  font-weight: bold;
  text-decoration: none;

  > span:first-child {
    color: var(--neutral-50);
  }

  > span:last-child {
    color: var(--neutral-800);
  }

  &:hover,
  &:focus {
    opacity: 0.85;
  }
}

.header__navbar {
  flex: 1;

  ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
    list-style: none;
  }

  a {
    color: var(--neutral-900);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer {
  background-color: var(--orange-400);
  color: var(--neutral-800);
}

.footer__content {
  padding: 0.5rem 0;
}

.footer__text {
  color: var(--neutral-900);
  font-size: var(--text-normal);
  text-align: center;
}

.footer__navbar {
  ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
  }

  svg {
    width: var(--text-xl);
  }

  path {
    fill: var(--neutral-900);
  }

  a:hover path,
  a:focus path {
    opacity: 0.85;
  }
}

.card {
  background-color: var(--orange-200);
  display: flex;
  gap: 1rem;
  position: relative;

  &:has(.card-link:hover) {
    outline: 0.25rem solid var(--orange-400);
  }

  .card-image {
    max-width: 40%;
    object-fit: cover;
  }

  .card-texts {
    padding: 0.5rem;
  }

  .card-title {
    color: var(--neutral-900);
    font-size: var(--text-normal);
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 0;

    > li {
      margin-top: 0.25rem;
    }
  }

  .genre-link {
    background-color: var(--orange-300);
    color: var(--neutral-900);
    font-size: var(--text-sm);
    padding: 0.25rem 0.5rem;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: var(--orange-400);
    }
  }

  .card-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    color: var(--neutral-800);
    display: -webkit-box;
    font-size: var(--text-sm);
    line-clamp: 5;
    line-height: 1rem;
    max-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-developer {
    color: var(--neutral-800);
    font-size: var(--text-xs);
  }

  .card-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
