main {
  background-color: var(--neutral-200);
  padding: 2rem 0;
}

.title {
  color: var(--neutral-900);
  font-size: 20rem;
  margin: 0;
  text-align: center;
}

.message {
  color: var(--neutral-800);
  font-size: var(--text-lg);
  text-align: center;
}

.link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}
