main {
  background-color: var(--orange-200);
  padding: 2rem 0;
}

.title {
  color: var(--neutral-900);
  font-size: var(--text-xl);
}

.subtitle {
  color: var(--neutral-900);
  font-size: var(--text-normal);
}

.paragraph {
  color: var(--neutral-900);
  font-size: var(--text-sm);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > * {
    flex: 1;
    flex-basis: 500px;
  }
}

.input-wrapper {
  > input {
    background-color: var(--neutral-200);
    border: none;
    display: block;
    margin: 0.5em 0;
    max-width: 500px;
    padding: 0.5em 1em;
    width: 100%;
  }
}

.error {
  color: rgb(174, 0, 0);
  font-size: var(--text-sm);
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding-left: 0;

  button {
    background-color: var(--orange-300);
    border: none;
    cursor: pointer;
    padding: 0.25em 0.5em;

    &:hover,
    &:focus {
      background-color: var(--orange-400);
    }
  }
}

.modal {
  background-color: var(--orange-200);
  border: none;
  padding: 1.5rem;

  .subtitle {
    margin-top: 0;
  }
}
